    .conteiner{

        padding: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        width: 250px;
        color: white;
        position: absolute;
        font-size: xx-large;
        border-radius: 50px 0px 50px 0px;
        
    }

    input{

        padding: 20px;
        border-radius: 10px;


    }
    label {
      color: rgb(255, 255, 255);
        
    }

    .erro{

        color: red;
    }
 .quest{
        margin-top: auto;
        align-items: center;
        text-align: center;
        background-image: url(assets/Design\ sem\ nome\ \(1\).png);
        justify-content: center;
        margin: 0;
        place-items: center;
        display: flex;
        padding-bottom: 50px;
    }

.abs {
    align-items: center;
    text-align: center;
    margin-top: auto;
    justify-content: center;
    position: fixed;
    background-color: rgb(85, 92, 90);
    display: flex;
}

.img_link{
    height: 60px;
    width: 60px;
    padding: 90px;
}

.b2{
    place-items: center;
    align-items: center;
    text-align: center;
}